
.menu {
	background: black;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	z-index: 1;
	border-bottom: 0.1rem solid black;
}

.space-menu {
	display: block;
	height: 64.2424px;

}

.menu ul {
	list-style: none;
	display: flex;
}

.menu h1 {
	font-size: 3rem;
	font-weight: 800;
	list-style: none;
	color: var(--white-color);
}

.menu h1 a {
	list-style: none;
	color: inherit;
}

.menu ul li a {
	text-decoration: none;
	padding: 2rem;
	font-size: 1.8rem;
	display: block;
	color: var(--white-color);
	position: relative;
}

.menu ul li a::after {
	content: '';
	position: absolute;
	bottom: 0.9rem;
	left: 50%;
	width: 0%;
	height: 0.2rem;
	background:  var(--red);
	transition: all 200ms ease-in-out;
}

.menu ul li a:hover::after {
	width: 50%;
	left: 25%;
}